<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="dist/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>AvadaSEO</title>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="container">
          <nav>
            <div class="header">
              <img src="images/logo_seo_w_1x.png" alt="AvadaSEO logo" />
              <ul>
                <li v-for="link in headerlinks">
                  <a href="#"
                    >{{link.text}}<span v-if="link.span">{{link.span}}</span></a
                  >
                </li>
                <li><button class="button">Get in touch now</button></li>
              </ul>
            </div>
          </nav>
          <section class="campaigns">
            <div>
              <h1>SEM Campaigns Made Simple With Avada</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elite.
                Phasellus eu ornare erat. Curabitur pulvinar elit.
              </p>
              <button class="button">Buy avada now</button>
              <button class="button">Contact us</button>
            </div>
          </section>
        </div>
      </header>

      <main>
        <section class="template">
          <div class="container">
            <div class="wrapper-text">
              <div>
                <h1>Meet The New Agency SEO Template From The Avada Team</h1>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusatium doloremque laudantium.
                </p>
              </div>
            </div>
            <div class="wrapper-panels">
              <div>
                <i class="fas fa-road"></i>
                <h3>Establish Goals</h3>
                <p>
                  Aliquam not elit lacus. Praesent aliquet, ipsum id scelerisque
                  convallis, mi ligula euismod odio, vel dictum mi risus a mi.
                </p>
              </div>
              <div>
                <i class="fas fa-video"></i>
                <h3>Work With a Team</h3>
                <p>
                  Cras semper auctor aliquam. Sed porta sed lacus sit amet
                  consectetur. Lorem ipsum dolor sit amet, consectetur
                  adipiscin.
                </p>
              </div>
              <div>
                <i class="fas fa-tint"></i>
                <h3>Get Results</h3>
                <p>
                  Vestibulum scelerisque egestas lectus sit amet molestie. Donec
                  consectetur cursus est sed blandit. Nunc sed risus lacus.
                </p>
              </div>
            </div>
          </div>
          <img
            src="images/agency-seo-desk-front-1200x570.jpg"
            alt="Desk image"
          />
        </section>

        <section class="services">
          <div class="container">
            <div class="wrapper-text">
              <div>
                <h1>See Our Top Notch Services</h1>
                <p>
                  Sed ut perspiciatis omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium.
                </p>
              </div>
            </div>
            <div class="wrapper-panels">
              <div>
                <i class="fab fa-google"></i>
                <h3>Google SEO</h3>
                <p>
                  Vestibulum in lacinia metus. Suspendisse in enim ipsum. Nulla
                  facilisi. Donec ante turpis, dictum sed magna et, dabipus
                  faucibus odio.
                </p>
                <a href="#">Read More ></a>
              </div>
              <div>
                <i class="fas fa-cog"></i>
                <h3>Brand Strategy</h3>
                <p>
                  Vestibulum in lacinia metus. Suspendisse in enim ipsum. Nulla
                  facilisi. Donec ante turpis, dictum sed magna et, dabipus
                  faucibus odio.
                </p>
                <a href="#">Read More ></a>
              </div>
              <div>
                <i class="fas fa-building"></i>
                <h3>Local SEO</h3>
                <p>
                  Vestibulum in lacinia metus. Suspendisse in enim ipsum. Nulla
                  facilisi. Donec ante turpis, dictum sed magna et, dabipus
                  faucibus odio.
                </p>
                <a href="#">Read More ></a>
              </div>
              <div>
                <i class="far fa-chart-bar"></i>
                <h3>SEO Analysis</h3>
                <p>
                  Vestibulum in lacinia metus. Suspendisse in enim ipsum. Nulla
                  facilisi. Donec ante turpis, dictum sed magna et, dabipus
                  faucibus odio.
                </p>
                <a href="#">Read More ></a>
              </div>
            </div>
          </div>
        </section>

        <section class="work">
          <div class="container">
            <div class="wrapper-text">
              <div>
                <h1>Our Work</h1>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium.
                </p>
              </div>
            </div>
            <div class="wrapper-image">
              <div class="column-image">
                <div>
                  <img src="images/case-study-gallery-3-1-400x300.jpg" alt="" />
                  <div class="hover"></div>
                </div>
                <div>
                  <img src="images/case-study-gallery-4-1-400x300.jpg" alt="" />
                  <div class="hover"></div>
                </div>
              </div>

              <div class="column-image">
                <div>
                  <img src="images/case-study-gallery-2-400x300.jpg" alt="" />
                  <div class="hover"></div>
                </div>
                <div>
                  <img src="images/case-study-gallery-5-1-400x300.jpg" alt="" />
                  <div class="hover"></div>
                </div>
              </div>

              <div class="column-image">
                <div>
                  <img src="images/case-study-gallery-1-1-400x300.jpg" alt="" />
                  <div class="hover"></div>
                </div>
                <div>
                  <img src="images/case-study-gallery-6-1-400x300.jpg" alt="" />
                  <div class="hover"></div>
                </div>
              </div>
            </div>
            <button class="button">View our work</button>
          </div>
        </section>

        <section class="plans">
          <div class="container">
            <div class="wrapper-text">
              <div>
                <h1>Our Plans</h1>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium.
                </p>
              </div>
            </div>
            <div class="wrapper-panels">
              <div>
                <h1>Standard</h1>
                <div class="money">
                  <span class="dollar">$</span>
                  <span class="int">19</span>
                  <span class="decimal">99</span>
                  <span class="time">monthly</span>
                </div>
                <p>5 Projects</p>
                <p>5 GB Storage</p>
                <p>Unlimited Users</p>
                <button class="button">Start Today</button>
              </div>
              <div>
                <h1>Premium</h1>
                <div class="money">
                  <span class="dollar">$</span>
                  <span class="int">29</span>
                  <span class="decimal">99</span>
                  <span class="time">monthly</span>
                </div>
                <p>10 Projects</p>
                <p>15 GB Storage</p>
                <p>Unlimited Users</p>
                <button class="button">Start Today</button>
              </div>
              <div>
                <h1>Professional</h1>
                <div class="money">
                  <span class="dollar">$</span>
                  <span class="int">39</span>
                  <span class="decimal">99</span>
                  <span class="time">monthly</span>
                </div>
                <p>15 Projects</p>
                <p>30 GB Storage</p>
                <p>Unlimited Users</p>
                <button class="button">Start Today</button>
              </div>
              <div>
                <h1>Extreme</h1>
                <div class="money">
                  <span class="dollar">$</span>
                  <span class="int">59</span>
                  <span class="decimal">99</span>
                  <span class="time">monthly</span>
                </div>
                <p>Unlimited Projects</p>
                <p>Unlimited Storage</p>
                <p>Unlimited Users</p>
                <button class="button">Start Today</button>
              </div>
            </div>
          </div>
        </section>

        <section class="news">
          <div class="container">
            <div class="wrapper-text">
              <div>
                <h1>Our News</h1>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium.
                </p>
                <p></p>
              </div>
            </div>
            <div class="wrapper-news">
              <div>
                <img src="images/related-service-2-320x202.jpg" alt="" />
                <h3>Why You Need A SEO Agency Now</h3>
                <p>November 1st, 2017</p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et
                  scelerisque sem. Nunc molestie neque augue, at gravida mi
                  blandit
                </p>
              </div>
              <div>
                <img src="images/related-service-4-320x202.jpg" alt="" />
                <h3>SEO Tips For Your Startup</h3>
                <p>November 1st, 2017</p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et
                  scelerisque sem. Nunc molestie neque augue, at gravida mi
                  blandit
                </p>
              </div>
              <div>
                <img src="images/blog-post-6-320x202.jpg" alt="" />
                <h3>Image Optimiziation For Your Site</h3>
                <p>November 1st, 2017</p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et
                  scelerisque sem. Nunc molestie neque augue, at gravida mi
                  blandit
                </p>
              </div>
            </div>
            <button class="button">Go to news</button>
          </div>
        </section>

        <section class="clients">
          <div class="container">
            <div class="wrapper-clients">
              <div>
                <h1>What Our Clients Say</h1>
                <img :src="clientsList[activeClient].img" />
                <p>{{clientsList[activeClient].text}}</p>
                <p>
                  {{clientsList[activeClient].name}},
                  <span> {{clientsList[activeClient].agency}}</span>
                </p>
                <i
                  class="far fa-circle"
                  :class="{fas: activeClient === index }"
                  :data-index="index"
                  v-for="(img, index) in clientsList"
                  @click.prevent="onDotClick(index)"
                ></i>
              </div>
            </div>
            <div class="hr">
              <div></div>
            </div>
            <div class="wrapper-logo">
              <div v-for="image in imagesList">
                <img :src="image.img" alt="Avada logo" />
              </div>
            </div>
          </div>
        </section>

        <section class="consulation">
          <div class="container">
            <div class="wrapper-text">
              <div>
                <h1>Start Your Free Consulation</h1>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium
                </p>
                <button class="button">Contact us now</button>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer>
        <section class="footer">
          <div class="container">
            <div class="wrapper-footer">
              <div>
                <img src="images/logo_seo_1x.png" alt="SEO logo" />
                <ul>
                  <li v-for="link in footerlinks">
                    <a href="#">{{link.text}}</a>
                  </li>
                </ul>

                <p>
                  <i class="far fa-copyright"></i> Copyright 2012-2020 | Avada
                  Team by <span>Theme Fusion</span> | All rights reserved |
                  Powered by <span>WordPress</span>
                </p>

                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
          <a class="chevron" href="#"><i class="fas fa-chevron-up"></i></a>
        </section>
      </footer>
    </div>
    <script src="scripts/app.js"></script>
  </body>
</html>
