* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font_family;
  color: $primary_color;
  font-size: $font_size;
  cursor: default;
}

.container {
  max-width: 920px;
  width: 100%;
  margin: auto;
}
