.consulation {
  padding: $spacing * 5 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../../images/case-study-gallery-3-1-1200x900.jpg");
  background-size: 100%;
  background-position: left 60% top 30%;

  .wrapper-text {
    div {
      p {
        margin-bottom: $spacing;
      }
    }
  }
}
