.news {
  padding: $spacing * 3 0;
  text-align: center;
  color: black;
  background-color: $primary_color;

  .wrapper-text {
    p {
      margin-bottom: $spacing * 2;
    }
  }

  .wrapper-news {
    display: flex;
    justify-content: space-around;
    margin-bottom: $spacing * 2;

    div {
      margin: $spacing - 8px;
      cursor: pointer;
      transition: box-shadow 0.6s, transform 0.6s;

      &:hover {
        transform: translateY(-20px);
        transition: transform 0.6s, box-shadow 0.6s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        &:active {
          transition: transform 0.3s;
          transform: perspective(800px) translateZ(-1px);
        }
      }

      img {
        width: 300px;
        margin-bottom: $spacing / 4;
      }

      p {
        font-weight: lighter;
        margin-bottom: $spacing;
      }

      h3 {
        color: $secondary_color;
        margin-bottom: $spacing / 4;
      }

      p {
        &:first-of-type {
          font-size: $font_size - 4px;
          margin-bottom: $spacing / 3;
        }
      }
    }
  }
}
