.services {
  background-color: $first_background_color;
  background-image: url(../../images/pattern_background.png);
  background-size: 100%;
  padding: $spacing * 3 0;
  text-align: center;

  .wrapper-panels {
    div {
      background-color: $panel_background_color;
      transition: transform 0.6s;
      &:hover {
        transition: transform 0.6s;
        transform: perspective(600px) translateZ(60px);
      }

      i {
        margin-bottom: $spacing + 6px;
      }

      p {
        margin-bottom: $spacing / 2;
      }

      a {
        text-decoration: none;
        color: $secondary_color;

        &:hover {
          transition: color 0.3s;
          color: $hover_scondary_color;
        }
      }
    }
  }
}
