.template {
  color: black;
  text-align: center;
  padding-top: $spacing * 3;
  background-color: $primary_color;
  overflow: hidden;

  img {
    object-fit: contain;
    width: 70%;
    margin-bottom: -5px;
  }

  .wrapper-panels {
    height: 270px;
    div {
      i {
        transition: font-size 0.6s;
      }
      &:hover {
        transition: box-shadow 0.6s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        i {
          transition: font-size 0.6s;
          font-size: $font-size * 3;
        }
      }
    }
  }
}
